---
title: Buscar
---

<form action="/search.html" method="get">
  <div class="form-group fg--search">
    <input type="text" class="input" placeholder="Buscar por título o autor " id="search-box" name="query">
    <button type="submit"><i class="fa fa-search"></i></button>
  </div>
</form>

</br>
<div id="search-results"></div>

<script>
window.store = {
  {% for post in site.posts %}
    {% for file_name_author in site.data %}
      {% if file_name_author[1][0].id == post.categories[1] %}
      {% assign author = file_name_author[1][0] %}
      {% endif %}
    {% endfor %}
    {% assign title = author.titles | where: 'id', post.title_id | first %}
    {% assign fragment = title.fragments | where: 'number', post.fragment | first %}

    {% if post.categories[0] == "image" %}
    "{{ post.url }}": {
      "title": "{{ title.name | xml_escape }}",
      "author": "{{ author.name | xml_escape }}",
      "image": "{{ title.image }}"
    {% else %} 
    "{{ post.url }}": {
      "title_id": "{{ title.id  | xml_escape}}",
      "title": "{{ title.name | xml_escape }}",
      "author": "{{ author.name | xml_escape }}",
      {% if fragment %}
        {% if fragment.preview %}
          "excerpt": "{{ fragment.preview | strip_html | strip_newlines }}",
        {% else %}
          "excerpt": "{{ fragment.text | strip_html | strip_newlines }}",
        {% endif %}
      {% else %}
        {% if title.preview %}
          "excerpt": "{{ title.preview | strip_html | strip_newlines }}",
        {% else %}
          "excerpt": "{{ title.text | strip_html | strip_newlines }}",
        {% endif %}
      {% endif %}
      "fragment": "{{ fragment.number }}"
    {% endif %} 
  }
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
};
</script>
<script src="/assets/js/lunr.js"></script>
<script src="/assets/js/search.js"></script>

{% assign author = site.data.authors | where: 'id', 'maurice_blanchot' | first %}
{{author.name}}

{% assign title = author.titles | where: 'id', 'thomas_obscuro' | first %}
{{title.name}}

{% assign fragment = title.fragments | where: 'number', 'f1' | first %}
{{fragment.preview}}


