

<div class="pagination">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
      <i class="fa fa-arrow-circle-o-left"></i> 
    </a>
    {% else %}
    <span>
      <i class="fa fa-arrow-circle-o-left"></i> 
    </span>
    {% endif %}

    <span class="page_number ">
      
      {{ paginator.page }} / {{ paginator.total_pages }}
      
    </span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
      <i class="fa fa-arrow-circle-o-right"></i>
    </a>
    {% else %}
    <span>
      <i class="fa fa-arrow-circle-o-right"></i>
    </span>
    {% endif %}
  {% endif %}
</div>