<div class="d-flex justify-content-center">
    {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        <i class="fa fa-arrow-circle-o-left fa-lg"></i>
    </a>
    {% else %}
    <span>
      <i class="fa fa-arrow-circle-o-left fa-lg"></i>
    </span>
    {% endif %}

    <span class="page_number">&nbsp{{ paginator.page }} / {{ paginator.total_pages }}&nbsp</span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        <i class="fa fa-arrow-circle-o-right fa-lg"></i>
    </a>
    {% else %}
    <span>
      <i class="fa fa-arrow-circle-o-right fa-lg"></i>
    </span>
    {% endif %}
    {% endif %}
</div>