<!-- This loops through the paginated posts -->
{% assign category = paginator.posts[0].categories[0] %}

<br>
{% if category == "image" %}
  <div class="grid-container">
    {% for post in paginator.posts %}
      {% for file_name_author in site.data %}
      {% if file_name_author[1][0].id == post.categories[1] %}
      {% assign author = file_name_author[1][0] %}
      {% endif %}
    {% endfor %}
    {% assign title = author.titles | where: 'id', post.title_id | first %}

    <a href="{{post.url}}"><div class="grid-item">
      <img src="/assets/img/{{title.image}}" width="600px" height="350px" class="centered-and-cropped grayscale" alt="{{title.name}}"/>
      <i>{{ title.name }}</i>, <span> {{ author.name }} </span>
    </div>
  </a> 
  {% endfor %}
  </div>

{% else %}

  {% for post in paginator.posts %}
    {% for file_name_author in site.data %}
      {% if file_name_author[1][0].id == post.categories[1] %}
      {% assign author = file_name_author[1][0] %}
      {% endif %}
    {% endfor %}
    {% assign title = author.titles | where: 'id', post.title_id | first %}
    {% assign fragment = title.fragments | where: 'number', post.fragment | first %}
    <p class="block">
      {% if fragment %} 
        <a href="../../../titles/{{title.id}}#{{fragment.number}}"><div>
        {% if fragment.preview %} 
          <p>{{ fragment.preview }}</p>
        {% else %}
          <p>{{ fragment.text | truncate: 400 }}</p>
        {% endif %}
      {% else %} 
        <a href="../../../titles/{{title.id}}"><div>
        {% if title.preview %} 
          <p>{{ title.preview }}</p>
        {% else %}
          <p>{{ title.text | truncate: 400 }}</p>
        {% endif %}
      {% endif %}
      </br>
      {% if include.hide_author %} 
        {% if title.format-title == 'italic' %}
          <p><span class="post-preview-title-italic">{{ title.name }}</span><span class="date-post-preview"> ({{ title.year }})</span></p>
        {% elsif title.format-title == 'quotes' %}
          <p><span class="post-preview-title-none">«{{title.name }}»</span><span class="date-post-preview"> ({{ title.year }})</span></p>
        {% else %}
          <p><span class="post-preview-title-none">{{ title.name }}</span><span class="date-post-preview"> ({{ title.year }})</span></p>
        {% endif %}
      {% else %} 
        {% if title.format-title == 'italic' %}
          <p><span class="post-preview-title-italic">{{ title.name }}</span><span class="date-post-preview"> ({{ title.year }})</span>, <span class="post-preview-author"> {{ author.name }} </span></p>
        {% elsif title.format-title == 'quotes' %}
          <p><span class="post-preview-title-none">«{{ title.name }}»</span><span class="date-post-preview"> ({{ title.year }})</span>, <span class="post-preview-author"> {{ author.name }} </span></p>
        {% else %}
          <p><span class="post-preview-title-none">{{ title.name }}</span><span class="date-post-preview"> ({{ title.year }})</span>, <span class="post-preview-author"> {{ author.name }} </span></p>
        {% endif %}
      {% endif %}
    </div></a> 
      </p>
  <hr>
  {% endfor %}
{% endif %}
{% include pagination_links.html %}