<div class="grid-container" id="lightgallery">
  {% for post in paginator.posts %}
      {% for file_name_author in site.data %}
      {% if file_name_author[1][0].id == post.categories[1] %}
      {% assign author = file_name_author[1][0] %}
      {% endif %}
    {% endfor %}
    {% assign title = author.titles | where: 'id', post.title_id | first %}
    
    <a href="/assets/img/{{title.image}}" data-sub-html="<i>{{ title.name }}</i> ({{ title.year }}), <span> {{ author.name }} </span>"><div class="grid-item">
      <img src="/assets/img/{{title.image}}" width="1500px" height="300px" class="centered-and-cropped grayscale" alt="{{title.name}}"/>
      <div class="punctum-actions-container">
        <div class="prevent-parent-click"><span class="title-punctum"><i>{{ title.name }}</i> ({{ title.year }})</span>
          &nbsp;<i url="{{post.url}}" class="fa punctum-icon fa-share-square"></i> 
          &nbsp;<i url="{{post.url}}" class="fa punctum-icon fa-facebook-square"></i>
          &nbsp;<i url="{{post.url}}" class="fa punctum-icon fa-twitter-square"></i>
        </div>
      </div>
      </div>
    </a>
  {% endfor %}
</div>


{% include pagination_links.html %}