
  .text-center {
    text-align: center;
  }
  
  .disable-hover {
    pointer-events: none;
  }

  .centered-and-cropped { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
  }

  .grayscale { 
    filter: grayscale(100%) contrast(150%); 
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 768px) {
  .grid-container  {
    grid-template-columns: auto;
  }
}

.grid-item {
  padding: 15px;
}

.highlight-fragment {
  animation: glow 1250ms;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  background-color: #f8f8f8;
}

.remove-margin-bottom {
  margin-bottom: 0 !important;
}

@keyframes glow {
  50% {
    box-shadow: 0 0 9px gray;
  }
}

.a_detail {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-text  {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

hr.divider { 
  margin: .5em;
  border-width: 1px;
}

p {
  text-align: justify;
  margin-bottom: 0 !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 4px;
}

.card-container {
  padding: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #fafafa;
}

@media only screen and (max-width: 768px) {
  .card-container {
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-container-footer {
    padding: 1rem;
  }
}

.black-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)); 
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  width: 100%;
  height:20rem;
}

.wrapper-black-background-bottom {
  bottom: 1rem;
  position: absolute;
  margin-right: 5em;
}

.wrapper-black-background-right-bottom {
  margin-top: 16.25rem;
}

.card-img-top { 
  object-fit: cover;
  width: 100%;
  height:20rem; 
  border-radius: 4px 4px 0 0;
  margin: 0 0 0;
}

html {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: 1.5;

  @media (max-width: 38em) {
    font-size: $font-size-mobile;
  }
}

body {
  color: $body-text-color;
  background-color: $body-background-color;
  border-top: $body-top-border-width solid $body-top-border-color;
}

a {
  color: $link-color;
  text-decoration: none!important;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.65);
  }

  strong {
    color: inherit;
  }
}

footer {
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 2rem;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 4px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.truncate-text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
}

@media only screen and (max-width: 768px) {
  .truncate-text {
   -webkit-line-clamp: 6; /* number of lines to show */
  }
}

span.title-post-italic {
  display: inline; 
  font-size: 1.35em; 
  font-weight: bold;
  font-style: italic;
  color: white;
}

span.title-post-none {
  display: inline; 
  font-size: 1.35em; 
  font-weight: bold;
  color: white;
}

span.date-post {
  display: inline; 
  font-size: 1.25em; 
  font-weight: bold;
  color: white;
}

span.date-post-preview {
  display: inline; 
  font-size: .9em; 
  font-weight: bold;
}

span.author-post {
  display: inline; 
  font-size: 1.15em; 
  font-weight: bold;
  opacity: 0.85;
  color: white;
}

span.title-post-black {
  display: inline; 
  font-size: 1.75em; 
  font-weight: bold;
  font-style: italic;
  color: black;
}

span.date-post-black {
  display: inline; 
  font-size: 1.5em; 
  font-weight: bold;
  color: black;
}

span.author-post-black {
  display: inline; 
  font-size: 1.5em; 
  font-weight: bold;
  opacity: 0.6;
  color: black;
}

span.post-preview-title-italic {
  font-weight: bold;
  font-style: italic;
}

span.post-preview-title-none {
  font-weight: bold;
}

span.post-preview-author {
  font-weight: bold;
}

.bg-dark {
    background-color: black!important;
}

.title {
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 1px #aaa;
}

.white {
  color: white!important;
  font-size: 1.5em;
}

a.white:hover {
  opacity: 0.85;
}

.black {
  color: black!important;
  font-size: 1.5em;
  opacity: 0.25;
}

a.black:hover {
  opacity: 0.5;
}

.row {
  margin: 0;
}

.fa-margin-right {
  margin-right: .5em;
}

.fa-margin-top {
  margin-top: 1em;
}

.container { margin-top: 2rem; margin-bottom: 2rem; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .container {
    max-width: 80%
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .container {
    max-width: 80%
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

.alert {
  opacity: 0.8;
}

.alert-dismissible .close {
    color: white !important; 
    opacity: 0.8;
}