input {
	width: 100%;
	padding: 8px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	border-bottom: 1.5px solid gray;
	color: black;
}

input:focus {
	border-bottom: 1.5px solid black;
}

.fg--search {
  position: relative;
  width: 100%;
}

.fa-search {
  color: gray;
}

.fg--search input {
  width: 100%;
  display: block;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 20px;
  z-index: 2;
}

.fg--search input:focus + button .fa-search {
  color: black;
}