/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Roboto';
$font-size: 20px;
$font-size-mobile: 16px;

$code-font-stack: 'Roboto';

// Body
$body-text-color: #515151;
$body-background-color: #ffffff;
$body-top-border-color: #000000;
$body-top-border-width: 0px;

// Links
$link-color: #000000;

// Navigation
$nav-bottom-border-color: #000000;
$nav-bottom-border-width: 2px;

$nav-link-color: #000000;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.5rem;
$nav-link-underline-color: #000000;

$nav-icon-color: #ffffff;
$nav-icon-background-color: #000000;

// Blog post headings and page titles
$post-title-color: #000000;
$post-date-color: #9a9a9a;

// Message box
$message-color: #717171;
$message-background-color: #f9f9f9;
