<!doctype html>
<html>
   <head>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <meta charset="UTF-8">
      <meta property="og:site_name" content="Desobra">
      {% for file_name_author in site.data %}
         {% for title in file_name_author[1][0].titles %}
            {% if title.id == page.title_id %}
               {% assign author = file_name_author[1][0] %}
               {% assign title = title %}
            {% endif %}
            {% endfor %}
         {% endfor %}
      {% if title %}
      <meta property="og:image" content="https://desobra.org/assets/img/{{title.image}}" />
      <meta property="og:title" content="{{title.name}} ({{title.year}}), {{author.name}}" />
      <meta property="og:url" content="https://desobra.org/titles/{{title.id}}" />
      {% endif %}
      <title>Desobra</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="/assets/js/search.js"></script>
      <script src="/assets/js/disable_hover_scroll.js"></script>
      <script src="/assets/js/subscription-newsletter.js"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
      <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicon.png">
      <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon.png">
   </head>
   <body bgcolor="#DCDCDC">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand title" href="/">DESOBRA</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               {% if page.title == 'Aquellos polvos' %}
               <li class="nav-item active">
                  <a class="nav-link link-nav-bar" href="/polvos">Polvos</a>
               </li>
               {% else %}
               <li class="nav-item">
                  <a class="nav-link link-nav-bar" href="/polvos">Polvos</a>
               </li>
               {% endif %}
               {% if page.title == 'Estos lodos' %}
               <li class="nav-item active">
                  <a class="nav-link" href="/lodos">Lodos</a>
               </li>
               {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="/lodos">Lodos</a>
               </li>
               {% endif %}
               {% if page.title == 'Punctum' %}
               <li class="nav-item active">
                  <a class="nav-link" href="/punctum"><em>Punctum</em></a>
               </li>
               {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="/punctum"><em>Punctum</em></a>
               </li>
               {% endif %}
               {% if page.title == 'Morada' %}
               <li class="nav-item active">
                  <a class="nav-link" href="/morada">Morada</a>
               </li>
               {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="/morada">Morada</a>
               </li>
               {% endif %}
               {% if page.title == 'Buscar' %}
               <li class="nav-item active">
                  <a class="nav-link" href="/morada">Buscar</a>
               </li>
               {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="/search">Buscar</a>
               </li>
               {% endif %}
            </ul>
            <div class="form-inline my-2 my-lg-0">
               <div><a href="#" data-toggle="modal" data-target="#submit-modal" data-whatever="@mdo" class="fa white fa-margin-right fa-envelope fa-lg"></a></div>
               <div><a href="#" class="fa white fa-margin-right fa-twitter-square fa-lg"></a></div>
               <div><a href="#" class="fa white fa-margin-right fa-instagram fa-lg"></a></div>
               <div><a href="#" class="fa white fa-facebook-square fa-lg"></a></div>
            </div>
         </div>
      </nav>
      <div class="container">
         <div id="subscribe-feedback"/>
         {{ content }}
      </div>
      <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Subscribirse a Desobra</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div id="mc_embed_signup">
                     <form action="https://desobra.us19.list-manage.com/subscribe/post?u=590e7b2ada0e4321b4c70780b&amp;id=52509fec18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <input id="email" name="EMAIL" onchange="validate();"
                           onkeyup="validate();" onpaste="validate();" oninput="validate();" id="mce-EMAIL" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Introduce email">
                        <div class="modal-footer">
                           <button id="btn-submit" type="submit" class="btn btn-dark" disabled="disabled">Enviar</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>