---
layout: default
---

{% for file_name_author in site.data %}
	{% for title in file_name_author[1][0].titles %}
		{% if title.id == page.title_id %}
			{% assign author = file_name_author[1][0] %}
		    {% assign title = title %}
	    {% endif %}
	{% endfor %}
{% endfor %}

<!--
	This is only used by post images
 -->
{% if author.category == 'image' %} 
    <script src="/assets/js/redirect-to-punctum-on-close.js"></script>

	<div id="lightgallery">
	    <a id="open-it"  href="/assets/img/original_{{title.image.name}}" data-sub-html="<i>{{ title.name }}</i> ({{ title.year }}), <span> {{ author.name }} </span>"></a>
	</div>
{% endif %}